@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
}

p{
    color: darkorange;
}
table,
tr,
th,
td{
    border: 1px solid #522203;
    border-spacing: 0;
}
th{
    color: black;
    background-color: #fff8d2;
}



div{
    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80;
    h1{
        margin: 10px;
        color:darksalmon;
    }
    p{
        margin: 10px;
        color:chocolate;
    }
}

div#container{
    display: flex;
    div#a{
        background-color:cadetblue;
        width: 30rem
    }
    div#b{
        background-color: aqua;
        width: 30rem
    }
    div#c{
        background-color:aquamarine;
        width: 30rem
    }
}