@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
}

p{
    color: darkorange;
}
table,
tr,
th,
td{
    border: 1px solid #522203;
    border-spacing: 0;
}
th{
    color: black;
    background-color: #fff8d2;
}

div{
    display: flex;
    background-color: darkorchid;
    //flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80;
    h1{
        margin: 10px;
        color: aqua;
    }
    p{
        margin: 10px;
        color: bisque;
    }
}